<% title @map.name %>

<%= content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="http://cartodb.com/favicon/favicon_32x32.ico" />
  <%= javascript_include_tag "show_map" %>
  <%= javascript_include_tag "//cartodb.s3.amazonaws.com/embed/wax.g.js" %>

  <script type="text/javascript">
    var cartodb_table_name  = "<%= Mapismo.data_table %>",
        cartodb_table_id    = "<%= current_user.data_table_id %>",
        cartodb_user_name   = "<%= current_user.username %>",
          TILEHTTP = "https",
          TILESERVER = "cartodb.com",
          SQL_SERVER = 'cartodb.com',
          global_api_url = '/api/v1/',
          map_id = '<%= @map.id %>',
          cartodb_sql = escape('SELECT * FROM <%= Mapismo.data_table %> WHERE map_id=<%= @map.id %>'),
          cartodb_style,
          cartodb_params = [];

    $(function() {

      var cartodbMapOptions = {
        zoom: 2,
        center: new google.maps.LatLng(<%= @map.lat %>,<%= @map.lon %>),
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      // Init the map
      var carto_embed_map = new google.maps.Map(document.getElementById("map_cartodb_container"),cartodbMapOptions);

      // Setup your map styles
      $.ajax({
        url:TILEHTTP + '://' + cartodb_user_name + '.' + TILESERVER + '/tiles/' + cartodb_table_name + '/map_metadata',
        type: 'GET',
        dataType: 'jsonp',
        success:function(result){
          map_style = $.parseJSON(result.map_metadata);
          if (map_style!=null) {
            if (map_style.google_maps_base_type=="satellite") {
              carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.SATELLITE});
            } else if (map_style.google_maps_base_type=="terrain") {
              carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.TERRAIN});
            } else {
              carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.ROADMAP});
            }

            // Get coordinates and zoom
            if (map_style.zoom && map_style.longitude && map_style.latitude) {
              carto_embed_map.setZoom(map_style.zoom);
            } else {
              getCartoDBBBox(map_id, carto_embed_map);
            }
          } else {
            getCartoDBBBox(map_id, carto_embed_map);
            carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.ROADMAP});
            map_style = {};
            map_style.google_maps_customization_style = [ { stylers: [ { saturation: -65 }, { gamma: 1.52 } ] }, { featureType: "administrative", stylers: [ { saturation: -95 },{ gamma: 2.26 } ] }, { featureType: "water", elementType: "labels", stylers: [ { visibility: "off" } ] }, { featureType: "administrative.locality", stylers: [ { visibility: 'off' } ] }, { featureType: "road", stylers: [ { visibility: "simplified" }, { saturation: -99 }, { gamma: 2.22 } ] }, { featureType: "poi", elementType: "labels", stylers: [ { visibility: "off" } ] }, { featureType: "road.arterial", stylers: [ { visibility: 'off' } ] }, { featureType: "road.local", elementType: "labels", stylers: [ { visibility: 'off' } ] }, { featureType: "transit", stylers: [ { visibility: 'off' } ] }, { featureType: "road", elementType: "labels", stylers: [ { visibility: 'off' } ] },{ featureType: "poi", stylers: [ { saturation: -55 } ] } ];
          }

          // Custom tiles
          carto_embed_map.setOptions({styles: map_style.google_maps_customization_style});
        },
        error: function(e){}
      });


      // Necessary params for wax and infowindow
      var cartodb_params = {
            cartodb_sql         : cartodb_sql,
            cartodb_style       : cartodb_style,
            cartodb_user_name   : cartodb_user_name,
            cartodb_table_name  : cartodb_table_name,
            cartodb_table_id    : cartodb_table_id,
            cartodb_map         : carto_embed_map,
            cartodb_map_canvas  : 'map_cartodb_container'
          },
          infowindow = new CartoDBInfowindow(cartodb_params),
          featureList = [], timedFeatures = [],
          timeline = new Timeline();

      loadFeatures();

      function loadFeatures(){
        // Load the list of features
        $.ajax({
          url: TILEHTTP + '://'+cartodb_user_name+'.' + SQL_SERVER + global_api_url+ 'sql/?q='+
                escape('SELECT cartodb_id,date FROM '+ cartodb_table_name + ' WHERE map_id='+map_id+' ORDER BY date ASC'),
          type: 'GET',
          dataType: 'jsonp',
          success:function(result){
            if(result.rows.length > 0){
              $('.progress_bar').hide();
              $('#timeline_bar').show();
              result.rows.forEach(function(row){
                featureList.push(row.cartodb_id);
                timedFeatures.push({id: row.cartodb_id, date: (new Date(row.date.replace('+',' ')).getTime())});
              });
              // Add wax interaction
              addCartoDBInteraction(cartodb_params, infowindow, featureList);

              // Setup timeline
              timeline.setupFeatures(timedFeatures, infowindow, featureList);
            } else {
              $('.progress_bar').show();
              $('#timeline_bar').hide();
              setTimeout(loadFeatures(), 3000);
            }
          }
        });
      }

      // Wax interaction
      function addCartoDBInteraction(params, infowindow, featureList) {
        var currentCartoDbId,
            tilejson = generateTileJson(params),
            cache_buster = 0;

        $('#content nav.pagination a.prev').on({
          click: function(e){
            if(!$(this).hasClass('disabled')){
              var currentFeature = parseInt($('#current_feature').val());
              var index = featureList.indexOf(currentFeature);
              if(index > 0) {
                infowindow.open(featureList[index-1],null,featureList);
              }
            }
            e.preventDefault(); e.stopPropagation();
          }
        });

        $('#content nav.pagination a.next').on({
          click: function(e){
            if(!$(this).hasClass('disabled')){
              currentFeature = $('#current_feature').val();
              var currentFeature = parseInt($('#current_feature').val());
              var index = featureList.indexOf(currentFeature);
              if(index < featureList.length-1) {
                infowindow.open(featureList[index+1],null,featureList);
              }
            }
            e.preventDefault(); e.stopPropagation();
          }
        });

        $('#timeline').on({
          'click': function(e){
            timeline.pause();
            timeline.setPointer(e.clientX - $(this).position().left - 2);
            e.preventDefault(); e.stopPropagation();
          }
        });

        var waxOptions = {
          callbacks: {
            out: function(){
              params.cartodb_map.setOptions({draggableCursor: 'default'});
            },
            over: function(feature, div, opt3, evt){
              params.cartodb_map.setOptions({draggableCursor: 'pointer'});
            },
            click: function(feature, div, opt3, evt){
              infowindow.open(feature,evt.latLng,featureList);
            }
          },
          clickAction: 'full'
        };

        var wax_tile = new wax.g.connector(tilejson);
        params.cartodb_map.overlayMapTypes.insertAt(0,wax_tile);
        var interaction = wax.g.interaction(params.cartodb_map, tilejson, waxOptions);

        // Generate tilejson
        function generateTileJson(params) {
          var core_url = TILEHTTP + '://' + params.cartodb_user_name + '.' + TILESERVER;
          var base_url = core_url + '/tiles/' + params.cartodb_table_name + '/{z}/{x}/{y}';
          var tile_url = base_url + '.png?cache_buster=0&sql=' + params.cartodb_sql;
          var grid_url = base_url + '.grid.json';

          // Build up the tileJSON
          return {
            blankImage: TILEHTTP + '://cartodb.s3.amazonaws.com/embed/blank_tile.png',
            tilejson: '1.0.0',
            scheme: 'xyz',
            tiles: [tile_url],
            grids: [grid_url],
            tiles_base: tile_url,
            grids_base: grid_url,
            formatter: function(options, data) {
                currentCartoDbId = data.cartodb_id;
                return data.cartodb_id;
            },
            cache_buster: function(){
                return params.cache_buster;
            }
          };
        };
      };

      // Zoom bindings
      $('a.cartodb_map_embed_zoom_in').click(function(ev){
        ev.preventDefault();
        carto_embed_map.setZoom(carto_embed_map.getZoom()+1);
      });
      $('a.cartodb_map_embed_zoom_out').click(function(ev){
        ev.preventDefault();
        carto_embed_map.setZoom(carto_embed_map.getZoom()-1);
      });
    });
  </script>

<% end %>

<header id="top_bar">
  <h1>This is a map with <%= @map.name %></h1>
</header>

<div class="progress_bar" style="display:none">
  Still fetching data...
</div>

<div class="popover" id="content" style="display:none">
  <div class="header">
    <nav class="pagination">
      <a href="#" class="prev" title="Previous">Previous item</a>
      <a href="#" class="next" title="Next">Next item</a>
    </nav>

    <div class="item_data">
      <img src="" alt="" class="avatar">
      <p>
        <strong></strong><br>
        <span class="date"></span> · <a href="#" target="blank"></a>
      </p>
    </div>
  </div>
  <div class="content"></div>
  <input type="hidden" id="current_feature" />
</div>

<div id="timeline_bar" style="display:none">
  <a href="#" class="button play">Play</a>
  <div id="timeline_container">
    <div id="timeline">
      <ul class="items"></ul>
    </div>
  </div>
</div>

<div id="outer_map_cartodb_container">
  <div id="map_cartodb_container"></div>
</div>

<span class="cartodb_map_controls">
  <a href="#zoom_in" class="cartodb_map_embed_zoom_in">+</a>
  <a href="#zoom_out" class="cartodb_map_embed_zoom_out">-</a>
</span>