<% title @map.name %>

<%= content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="http://cartodb.com/favicon/favicon_32x32.ico" />
  <%= javascript_include_tag "//cartodb.s3.amazonaws.com/embed/wax.g.js" %>
  
  <script type="text/javascript">
    var cartodb_table_name  = "<%= Mapismo.data_table %>",
        cartodb_table_id    = "<%= current_user.data_table_id %>",
        cartodb_user_name   = "<%= current_user.username %>",
          TILEHTTP = "https",
          TILESERVER = "cartodb.com",
          SQL_SERVER = 'cartodb.com',
          global_api_url = '/api/v1/',
          map_id = '<%= @map.id %>';
    
    var cartodb_sql = '<%= CGI.escape("SELECT * FROM #{Mapismo.data_table}") %>',
        cartodb_style,
        cartodb_params = [];
    
    // Getting vars
    for (var i = 0, length = cartodb_params.length; i<length; i++) {
      if (cartodb_params[i].search('style=%23') != -1) {
        cartodb_style = cartodb_params[i].replace('style=','');
      }
    }
    console.log(cartodb_sql);
    
    $(function() {

      var cartodbMapOptions = {
        zoom: 2,
        center: new google.maps.LatLng(<%= @map.lat %>,<%= @map.lon %>),
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      // Init the map
      var carto_embed_map = new google.maps.Map(document.getElementById("map_cartodb_container"),cartodbMapOptions);

      // Setup your map styles
      $.ajax({
        url:TILEHTTP + '://' + cartodb_user_name + '.' + TILESERVER + '/tiles/' + cartodb_table_name + '/map_metadata',
        type: 'GET',
        dataType: 'jsonp',
        success:function(result){
          map_style = $.parseJSON(result.map_metadata);
          if (map_style!=null) {
            if (map_style.google_maps_base_type=="satellite") {
              carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.SATELLITE});
            } else if (map_style.google_maps_base_type=="terrain") {
              carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.TERRAIN});
            } else {
              carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.ROADMAP});
            }

            // Get coordinates and zoom
            if (map_style.zoom && map_style.longitude && map_style.latitude) {
              carto_embed_map.setZoom(map_style.zoom);
              // carto_embed_map.setCenter(new google.maps.LatLng(map_style.latitude,map_style.longitude));
            } else {
              getCartoDBBBox();
            }
          } else {
            getCartoDBBBox();
            carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.ROADMAP});
            map_style = {};
            map_style.google_maps_customization_style = [ { stylers: [ { saturation: -65 }, { gamma: 1.52 } ] }, { featureType: "administrative", stylers: [ { saturation: -95 },{ gamma: 2.26 } ] }, { featureType: "water", elementType: "labels", stylers: [ { visibility: "off" } ] }, { featureType: "administrative.locality", stylers: [ { visibility: 'off' } ] }, { featureType: "road", stylers: [ { visibility: "simplified" }, { saturation: -99 }, { gamma: 2.22 } ] }, { featureType: "poi", elementType: "labels", stylers: [ { visibility: "off" } ] }, { featureType: "road.arterial", stylers: [ { visibility: 'off' } ] }, { featureType: "road.local", elementType: "labels", stylers: [ { visibility: 'off' } ] }, { featureType: "transit", stylers: [ { visibility: 'off' } ] }, { featureType: "road", elementType: "labels", stylers: [ { visibility: 'off' } ] },{ featureType: "poi", stylers: [ { saturation: -55 } ] } ];
          }

          // Custom tiles
          carto_embed_map.setOptions({styles: map_style.google_maps_customization_style});
        },
        error: function(e){}
      });
      
      
      // Necessary params for wax and infowindow
      var cartodb_params = {
            cartodb_sql         : cartodb_sql,
            cartodb_style       : cartodb_style,
            cartodb_user_name   : cartodb_user_name,
            cartodb_table_name  : cartodb_table_name,
            cartodb_table_id    : cartodb_table_id,
            cartodb_map         : carto_embed_map,
            cartodb_map_canvas  : 'map_cartodb_container'
          }

      // Add wax interaction
      addCartoDBInteraction(cartodb_params);

      // Zoom to your geometries
      function getCartoDBBBox() {
        $.ajax({
          method: "GET",
          url: TILEHTTP + '://'+cartodb_user_name+'.' + SQL_SERVER + global_api_url+ 'sql/?q='+escape('select ST_Extent(the_geom) from '+ cartodb_table_name),
          dataType: 'jsonp',
          success: function(data) {
            if (data.rows[0].st_extent!=null) {
              var coordinates = data.rows[0].st_extent.replace('BOX(','').replace(')','').split(',');

              var coor1 = coordinates[0].split(' ');
              var coor2 = coordinates[1].split(' ');
              var bounds = new google.maps.LatLngBounds();

              // Check bounds
              if (coor1[0] >  180
               || coor1[0] < -180
               || coor1[1] >  90
               || coor1[1] < -90
               || coor2[0] >  180
               || coor2[0] < -180
               || coor2[1] >  90
               || coor2[1] < -90) {
                coor1[0] = '-30';
                coor1[1] = '-50';
                coor2[0] = '110';
                coor2[1] =  '80';
              }


              bounds.extend(new google.maps.LatLng(coor1[1],coor1[0]));
              bounds.extend(new google.maps.LatLng(coor2[1],coor2[0]));

              carto_embed_map.fitBounds(bounds);
            }

          },
          error: function(e) {}
        });
      }


      // Wax interaction
      function addCartoDBInteraction(params) {
        var currentCartoDbId,
            tilejson = generateTileJson(params);
            infowindow = new CartoDBInfowindow(params);
            cache_buster = 0;
        
        var waxOptions = {
          callbacks: {
            out: function(){
              params.cartodb_map.setOptions({draggableCursor: 'default'});
            },
            over: function(feature, div, opt3, evt){
              params.cartodb_map.setOptions({draggableCursor: 'pointer'});
            },
            click: function(feature, div, opt3, evt){
              infowindow.open(feature,evt.latLng);
            }
          },
          clickAction: 'full'
        };
        
        var wax_tile = new wax.g.connector(tilejson);
        params.cartodb_map.overlayMapTypes.insertAt(0,wax_tile);
        var interaction = wax.g.interaction(params.cartodb_map, tilejson, waxOptions);

        // Generate tilejson
        function generateTileJson(params) {
          var core_url = TILEHTTP + '://' + params.cartodb_user_name + '.' + TILESERVER;  
          var base_url = core_url + '/tiles/' + params.cartodb_table_name + '/{z}/{x}/{y}';
          var tile_url = base_url + '.png?cache_buster=0';
          var grid_url = base_url + '.grid.json';
            
          // Build up the tileJSON
          return {
            blankImage: TILEHTTP + '://cartodb.s3.amazonaws.com/embed/blank_tile.png', 
            tilejson: '1.0.0',
            scheme: 'xyz',
            tiles: [tile_url],
            grids: [grid_url],
            tiles_base: tile_url,
            grids_base: grid_url,
            formatter: function(options, data) {
                currentCartoDbId = data.cartodb_id;
                return data.cartodb_id;
            },
            cache_buster: function(){
                return params.cache_buster;
            }
          };
        };
      };

      // Zoom bindings
      $('a.cartodb_map_embed_zoom_in').click(function(ev){
        ev.preventDefault();
        carto_embed_map.setZoom(carto_embed_map.getZoom()+1);
      });
      $('a.cartodb_map_embed_zoom_out').click(function(ev){
        ev.preventDefault();
        carto_embed_map.setZoom(carto_embed_map.getZoom()-1);
      });
    });
  </script>
  
<% end %>

<header id="top_bar">
  This is a map with <%= @map.name %>
</header>

<div class="popover" id="content" style="display:none">
  <div class="header">
    <nav class="pagination">
      <a href="#" class="prev">Previous item</a>
      <a href="#" class="next disabled">Next item</a>
    </nav>

    <div class="item_data">
      <img src="" alt="" class="avatar">
      <p>
        <strong></strong><br>
        <span class="date"></span> · <a href="#" target="blank"></a>
      </p>
    </div>
  </div>
 
  <!-- 
  <div class="content instagram">
    <img src="http://distilleryimage5.instagram.com/5657c4ae6d6611e1a87612313804ec91_7.jpg">    
  </div>
  <div class="content twitter">
    Y no so perdais nuestra súper maquina para movernos por Melbourne... A tope d power!!! <a href="http://yfrog.com/obmqdzwfj" target="blank">http://yfrog.com/obmqdzwfj</a>     
  </div>
  <div class="content flickr">
    <img src="http://farm7.staticflickr.com/6031/6323911636_7375c007d5.jpg" alt="photo title">    
  </div> -->
  <div class="content"></div>
</div>

<div class="popover options">
  <ul>
    <li><a href="<%= cartodb_table_link %>">View on CartoDB</a></li>
    <li><span>Link: <input type="text" value="<%= cartodb_table_link %>"></span></li>
    <li><span>Embed: <input type="text" value="http://kacmkanvjfblscndv.dvkdvkd"></span></li>
  </ul>
</div>

<div id="timeline"></div>

<div id="outer_map_cartodb_container">
  <div id="map_cartodb_container"></div>
</div>

<span class="cartodb_map_controls">
  <a href="#zoom_in" class="cartodb_map_embed_zoom_in">+</a>
  <a href="#zoom_out" class="cartodb_map_embed_zoom_out">-</a>
</span>